.nav {
    background-color: var(--color-secondary);

    ul {
        font-weight: var(--font-weight-sans-bold);
        margin: 0 auto;
        max-width: 800px;
        padding: var(--spacing-half) var(--spacing-single);
        width: 100%;
    }
}

.navItem {
    display: inline-block;
    margin-right: var(--spacing-single);

    a {
        color: var(--color-not-black);
        font-weight: 400;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.plainLink a {
    font-weight: 600;

    &:hover {
        text-decoration: none;
    }
}

.activeLink {
    text-decoration: underline !important;
}
