.textSlice {
    margin-top: var(--spacing-double);

    h2 {
        display: inline-block;
        font-size: var(--font-size-large);
        margin-bottom: var(--spacing-single);
        padding-bottom: var(--spacing-quarter);
        text-decoration: underline;
        text-decoration-color: var(--color-secondary-dark);
        text-decoration-thickness: 5px;
    }

    h3 {
        font-size: var(--font-size-medium);
        margin-bottom: var(--spacing-third);
    }

    p {
        font-size: var(--font-size-normal);
        margin-bottom: var(--spacing-two-thirds);
    }

    p + h2,
    p + h3 {
        margin-top: var(--spacing-single);
    }
}
