.projectList {
    margin-top: var(--spacing-double);
}

.title {
    letter-spacing: 3px;
    margin-bottom: var(--spacing-third);
    text-transform: uppercase;
}

.project {
    font-size: var(--font-size-large);

    h2 {
        display: inline;
        font-weight: var(--font-weight-sans-normal);
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
