.container {
    margin-top: var(--spacing-double);
}

.title {
    letter-spacing: 3px;
    margin-bottom: var(--spacing-two-thirds);
    text-transform: uppercase;
}

.projectList {
    display: grid;
    grid-gap: var(--spacing-single) var(--spacing-two-thirds);
    grid-template-columns: repeat(2, 1fr);
}

.project {
    h2 {
        font-size: var(--font-size-medium);
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline var(--color-primary) 2px;

            img {
                opacity: 0.5;
            }
        }
    }
}

.projectImage {
    border: 2px solid var(--color-secondary-dark);
    border-radius: 3px;
    margin-bottom: var(--spacing-quarter);
    transition: opacity 150ms ease;
}
