.title h1 {
    font-size: var(--font-size-larger);
    font-weight: var(--font-weight-sans-black);
    margin-bottom: var(--spacing-half);
}

.underline h1 {
    text-decoration: underline;
    text-decoration-color: var(--color-secondary-dark);
    text-decoration-thickness: 5px;
}

.description {
    color: var(--color-dark-grey);
    font-size: var(--font-size-medium);
}
