.textSlice {
    h2 {
        border-bottom: 5px solid var(--color-light-grey);
        display: inline-block;
        font-size: var(--font-size-large);
        margin-bottom: var(--spacing-single);
        padding-bottom: var(--spacing-quarter);
    }

    h3 {
        font-size: var(--font-size-medium);
        margin-bottom: var(--spacing-third);
    }

    p {
        font-size: var(--font-size-normal);
        margin-bottom: var(--spacing-half);
    }

    p + h2 {
        margin-top: var(--spacing-single);
    }
}
