.nav {
    ul {
        font-weight: var(--font-weight-sans-bold);
        margin: 0 auto;
        max-width: 800px;
        padding: var(--spacing-quarter) var(--spacing-single);
        width: 100%;
    }
}

.navItem {
    display: inline-block;
    margin-right: var(--spacing-single);

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.plainLink a {
    color: var(--color-not-black);

    &:hover {
        text-decoration: none;
    }
}

.activeLink {
    text-decoration: underline !important;
}
