.title h1 {
    font-size: var(--font-size-larger);
    font-weight: var(--font-weight-sans-black);
    margin-bottom: var(--spacing-quarter);
}

.description {
    color: var(--color-dark-grey);
    font-size: var(--font-size-medium);
}

:global(.arrowLink) {
    &:after {
        border-right: 2px solid var(--color-primary);
        border-top: 2px solid var(--color-primary);
        content: '';
        display: inline-block;
        height: 8px;
        margin-left: var(--spacing-quarter);
        transform: rotate(45deg);
        transition: all 200ms ease;
        width: 8px;
    }

    &:hover::after {
        transform: rotate(45deg) translate(2px, -2px);
    }
}
